<!DOCTYPE html>
<html lang="en-us">

<head>
    <link href="https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs/editor/editor.main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs/loader.js"></script>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .row {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .column {
            width: 100%;
            height: 100%;
        }

        .updated {
            background-color: #FFF59D;
        }

        .added {
            background-color: #A5D6A7;
        }

        .deleted {
            background-color: #EF9A9A;
        }

        .moved_updated, .moved_unchanged {
            background-color: #CE93D8;
        }

        .none {
            background-color: #64B5F6;
        }

        .selected {
            color: #2196F3 !important;
        }


    </style>
    <title>CiDiff</title>
</head>

<body>
<div class='row'>
    <div class='column' id='right'>
    </div>
</div>
<script>
    const ciDiff = {
        left: [
                "Requested labels: ubuntu-latest",
                "Job defined at: actionhero/node-resque/.github/workflows/test.yml@refs/heads/dependabot/npm_and_yarn/types/node-20.8.10",
                "Waiting for a runner to pick up this job...",
                "Job is waiting for a hosted runner to come online.",
                "Job is about to start running on the hosted runner: GitHub Actions 13 (hosted)",
                "Current runner version: '2.311.0'",
                "##[group]Operating System",
                "Ubuntu",
                "22.04.3",
                "LTS",
                "##[endgroup]",
                "##[group]Runner Image",
                "Image: ubuntu-22.04",
                "Version: 20231030.2.0",
                "Included Software: https://github.com/actions/runner-images/blob/ubuntu22/20231030.2/images/linux/Ubuntu2204-Readme.md",
                "Image Release: https://github.com/actions/runner-images/releases/tag/ubuntu22%2F20231030.2",
                "##[endgroup]",
                "##[group]Runner Image Provisioner",
                "2.0.312.1",
                "##[endgroup]",
                "##[group]GITHUB_TOKEN Permissions",
                "Actions: read",
                "Checks: read",
                "Contents: read",
                "Deployments: read",
                "Discussions: read",
                "Issues: read",
                "Metadata: read",
                "Packages: read",
                "Pages: read",
                "PullRequests: read",
                "RepositoryProjects: read",
                "SecurityEvents: read",
                "Statuses: read",
                "##[endgroup]",
                "Secret source: Dependabot",
                "Prepare workflow directory",
                "Prepare all required actions",
                "Getting action download info",
                "Download action repository 'actions/checkout@v4' (SHA:b4ffde65f46336ab88eb53be808477a3936bae11)",
                "Download action repository 'actions/setup-node@v4.0.0' (SHA:8f152de45cc393bb48ce5d89d36b731f54556e65)",
                "Download action repository 'actions/cache@v3.3.2' (SHA:704facf57e6136b1bc63b828d79edcd491f0ee84)",
                "Complete job name: test (20.x)",
                "##[group]Checking docker version",
                "##[command]/usr/bin/docker version --format '{{.Server.APIVersion}}'",
                "'1.43'",
                "Docker daemon API version: '1.43'",
                "##[command]/usr/bin/docker version --format '{{.Client.APIVersion}}'",
                "'1.43'",
                "Docker client API version: '1.43'",
                "##[endgroup]",
                "##[group]Clean up resources from previous jobs",
                "##[command]/usr/bin/docker ps --all --quiet --no-trunc --filter \"label=c7ff3f\"",
                "##[command]/usr/bin/docker network prune --force --filter \"label=c7ff3f\"",
                "##[endgroup]",
                "##[group]Create local container network",
                "##[command]/usr/bin/docker network create --label c7ff3f github_network_6e48173f761f47618562ebec198cc1c0",
                "9e7fa4c535f4e7d939b5f59dafb4badaa79a6dc9103b0f98656256a2905cb91c",
                "##[endgroup]",
                "##[group]Starting redis service container",
                "##[command]/usr/bin/docker pull redis",
                "Using default tag: latest",
                "latest: Pulling from library/redis",
                "578acb154839: Pulling fs layer",
                "536258f1438d: Pulling fs layer",
                "b2c17634dc83: Pulling fs layer",
                "0a9ed92f5eca: Pulling fs layer",
                "8e9838754832: Pulling fs layer",
                "4f4fb700ef54: Pulling fs layer",
                "0a9ed92f5eca: Waiting",
                "8e9838754832: Waiting",
                "8e7abba29a95: Pulling fs layer",
                "4f4fb700ef54: Waiting",
                "8e7abba29a95: Waiting",
                "536258f1438d: Verifying Checksum",
                "536258f1438d: Download complete",
                "b2c17634dc83: Download complete",
                "8e9838754832: Verifying Checksum",
                "8e9838754832: Download complete",
                "578acb154839: Verifying Checksum",
                "578acb154839: Download complete",
                "0a9ed92f5eca: Verifying Checksum",
                "0a9ed92f5eca: Download complete",
                "4f4fb700ef54: Verifying Checksum",
                "4f4fb700ef54: Download complete",
                "8e7abba29a95: Verifying Checksum",
                "8e7abba29a95: Download complete",
                "578acb154839: Pull complete",
                "536258f1438d: Pull complete",
                "b2c17634dc83: Pull complete",
                "0a9ed92f5eca: Pull complete",
                "8e9838754832: Pull complete",
                "4f4fb700ef54: Pull complete",
                "8e7abba29a95: Pull complete",
                "Digest: sha256:d2f4d823a498f366c540b81e6b69bce397062f980f2e42340402225af0d9b5ab",
                "Status: Downloaded newer image for redis:latest",
                "docker.io/library/redis:latest",
                "##[command]/usr/bin/docker create --name 47db2a5b41114a4f88b8b6d9fe2ff871_redis_3d4e0c --label c7ff3f --network github_network_6e48173f761f47618562ebec198cc1c0 --network-alias redis -p 6379:6379 --health-cmd \"redis-cli ping\" --health-interval 10s --health-timeout 5s --health-retries 5 -e GITHUB_ACTIONS=true -e CI=true redis",
                "823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "##[command]/usr/bin/docker start 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "##[command]/usr/bin/docker ps --all --filter id=823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7 --filter status=running --no-trunc --format \"{{.ID}} {{.Status}}\"",
                "823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7 Up Less than a second (health: starting)",
                "##[command]/usr/bin/docker port 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "6379/tcp -> 0.0.0.0:6379",
                "6379/tcp -> [::]:6379",
                "##[endgroup]",
                "##[group]Waiting for all services to be ready",
                "##[command]/usr/bin/docker inspect --format=\"{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}\" 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "starting",
                "redis service is starting, waiting 2 seconds before checking again.",
                "##[command]/usr/bin/docker inspect --format=\"{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}\" 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "starting",
                "redis service is starting, waiting 3 seconds before checking again.",
                "##[command]/usr/bin/docker inspect --format=\"{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}\" 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "starting",
                "redis service is starting, waiting 8 seconds before checking again.",
                "##[command]/usr/bin/docker inspect --format=\"{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}\" 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "healthy",
                "redis service is healthy.",
                "##[endgroup]",
                "##[group]Run actions/checkout@v4",
                "with:",
                "  repository: actionhero/node-resque",
                "  token: ***",
                "  ssh-strict: true",
                "  persist-credentials: true",
                "  clean: true",
                "  sparse-checkout-cone-mode: true",
                "  fetch-depth: 1",
                "  fetch-tags: false",
                "  show-progress: true",
                "  lfs: false",
                "  submodules: false",
                "  set-safe-directory: true",
                "##[endgroup]",
                "Syncing repository: actionhero/node-resque",
                "##[group]Getting Git version info",
                "Working directory is '/home/runner/work/node-resque/node-resque'",
                "[command]/usr/bin/git version",
                "git version 2.42.0",
                "##[endgroup]",
                "Temporarily overriding HOME='/home/runner/work/_temp/9173f779-8c6f-4e36-a0fb-c67b7c9e97af' before making global git config changes",
                "Adding repository directory to the temporary git global config as a safe directory",
                "[command]/usr/bin/git config --global --add safe.directory /home/runner/work/node-resque/node-resque",
                "Deleting the contents of '/home/runner/work/node-resque/node-resque'",
                "##[group]Initializing the repository",
                "[command]/usr/bin/git init /home/runner/work/node-resque/node-resque",
                "hint: Using 'master' as the name for the initial branch. This default branch name",
                "hint: is subject to change. To configure the initial branch name to use in all",
                "hint: of your new repositories, which will suppress this warning, call:",
                "hint: ",
                "hint: 	git config --global init.defaultBranch <name>",
                "hint: ",
                "hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and",
                "hint: 'development'. The just-created branch can be renamed via this command:",
                "hint: ",
                "hint: 	git branch -m <name>",
                "Initialized empty Git repository in /home/runner/work/node-resque/node-resque/.git/",
                "[command]/usr/bin/git remote add origin https://github.com/actionhero/node-resque",
                "##[endgroup]",
                "##[group]Disabling automatic garbage collection",
                "[command]/usr/bin/git config --local gc.auto 0",
                "##[endgroup]",
                "##[group]Setting up auth",
                "[command]/usr/bin/git config --local --name-only --get-regexp core\\.sshCommand",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'core\\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :\"",
                "[command]/usr/bin/git config --local --name-only --get-regexp http\\.https\\:\\/\\/github\\.com\\/\\.extraheader",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'http\\.https\\:\\/\\/github\\.com\\/\\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :\"",
                "[command]/usr/bin/git config --local http.https://github.com/.extraheader AUTHORIZATION: basic ***",
                "##[endgroup]",
                "##[group]Fetching the repository",
                "[command]/usr/bin/git -c protocol.version=2 fetch --no-tags --prune --no-recurse-submodules --depth=1 origin +ed7c212c3a8a3d9f84a966075ffb131bb799d4f5:refs/remotes/origin/dependabot/npm_and_yarn/types/node-20.8.10",
                "From https://github.com/actionhero/node-resque",
                " * [new ref]         ed7c212c3a8a3d9f84a966075ffb131bb799d4f5 -> origin/dependabot/npm_and_yarn/types/node-20.8.10",
                "##[endgroup]",
                "##[group]Determining the checkout info",
                "##[endgroup]",
                "##[group]Checking out the ref",
                "[command]/usr/bin/git checkout --progress --force -B dependabot/npm_and_yarn/types/node-20.8.10 refs/remotes/origin/dependabot/npm_and_yarn/types/node-20.8.10",
                "Switched to a new branch 'dependabot/npm_and_yarn/types/node-20.8.10'",
                "branch 'dependabot/npm_and_yarn/types/node-20.8.10' set up to track 'origin/dependabot/npm_and_yarn/types/node-20.8.10'.",
                "##[endgroup]",
                "[command]/usr/bin/git log -1 --format='%H'",
                "'ed7c212c3a8a3d9f84a966075ffb131bb799d4f5'",
                "##[group]Run actions/setup-node@v4.0.0",
                "with:",
                "  node-version: 20.x",
                "  always-auth: false",
                "  check-latest: false",
                "  token: ***",
                "##[endgroup]",
                "Found in cache @ /opt/hostedtoolcache/node/20.9.0/x64",
                "##[group]Environment details",
                "node: v20.9.0",
                "npm: 10.1.0",
                "yarn: 1.22.19",
                "##[endgroup]",
                "##[group]Run actions/cache@v3.3.2",
                "with:",
                "  path: node_modules",
                "dist",
                "",
                "  key: Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7",
                "  enableCrossOsArchive: false",
                "  fail-on-cache-miss: false",
                "  lookup-only: false",
                "##[endgroup]",
                "Received 1732743 of 18509959 (9.4%), 1.7 MBs/sec",
                "Cache Size: ~18 MB (18509959 B)",
                "[command]/usr/bin/tar -xf /home/runner/work/_temp/67952c58-71dd-4556-8ded-c7ad688a036b/cache.tzst -P -C /home/runner/work/node-resque/node-resque --use-compress-program unzstd",
                "Cache restored successfully",
                "Cache restored from key: Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7",
                "##[group]Run npm rebuild",
                "npm rebuild",
                "shell: /usr/bin/bash -e {0}",
                "##[endgroup]",
                "rebuilt dependencies successfully",
                "##[group]Run ./node_modules/.bin/jest --ci --forceExit",
                "./node_modules/.bin/jest --ci --forceExit",
                "shell: /usr/bin/bash -e {0}",
                "env:",
                "  REDIS_HOST: localhost",
                "  REDIS_PORT: 6379",
                "##[endgroup]",
                "PASS __tests__/core/queue.ts (7.478 s)",
                "PASS __tests__/core/worker.ts (5.51 s)",
                "PASS __tests__/plugins/retry.ts (7.393 s)",
                "PASS __tests__/plugins/jobLock.ts (5.835 s)",
                "PASS __tests__/core/connection.ts",
                "PASS __tests__/core/scheduler.ts",
                "PASS __tests__/plugins/queueLock.ts (5.314 s)",
                "PASS __tests__/core/multiWorker.ts (7.21 s)",
                "PASS __tests__/plugins/noop.ts",
                "PASS __tests__/integration/ioredis-mock.ts",
                "PASS __tests__/plugins/delayedQueueLock.ts",
                "PASS __tests__/integration/ioredis.ts",
                "PASS __tests__/core/connectionError.ts",
                "PASS __tests__/plugins/custom_plugins.ts",
                "",
                "Test Suites: 14 passed, 14 total",
                "Tests:       113 passed, 113 total",
                "Snapshots:   0 total",
                "Time:        48.663 s",
                "Ran all test suites.",
                "Force exiting Jest: Have you considered using `--detectOpenHandles` to detect async operations that kept running after all tests finished?",
                "Post job cleanup.",
                "Cache hit occurred on the primary key Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7, not saving cache.",
                "Post job cleanup.",
                "Post job cleanup.",
                "[command]/usr/bin/git version",
                "git version 2.42.0",
                "Temporarily overriding HOME='/home/runner/work/_temp/429728c9-48d9-4589-9071-31cb6c547377' before making global git config changes",
                "Adding repository directory to the temporary git global config as a safe directory",
                "[command]/usr/bin/git config --global --add safe.directory /home/runner/work/node-resque/node-resque",
                "[command]/usr/bin/git config --local --name-only --get-regexp core\\.sshCommand",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'core\\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :\"",
                "[command]/usr/bin/git config --local --name-only --get-regexp http\\.https\\:\\/\\/github\\.com\\/\\.extraheader",
                "http.https://github.com/.extraheader",
                "[command]/usr/bin/git config --local --unset-all http.https://github.com/.extraheader",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'http\\.https\\:\\/\\/github\\.com\\/\\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :\"",
                "Print service container logs: 47db2a5b41114a4f88b8b6d9fe2ff871_redis_3d4e0c",
                "##[command]/usr/bin/docker logs --details 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                " 1:C 06 Nov 2023 02:17:42.397 # WARNING Memory overcommit must be enabled! Without it, a background save or replication may fail under low memory condition. Being disabled, it can also cause failures without low memory condition, see https://github.com/jemalloc/jemalloc/issues/1328. To fix this issue add 'vm.overcommit_memory = 1' to /etc/sysctl.conf and then reboot or run the command 'sysctl vm.overcommit_memory=1' for this to take effect.",
                " 1:C 06 Nov 2023 02:17:42.397 * oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo",
                " 1:C 06 Nov 2023 02:17:42.397 * Redis version=7.2.3, bits=64, commit=00000000, modified=0, pid=1, just started",
                " 1:C 06 Nov 2023 02:17:42.397 # Warning: no config file specified, using the default config. In order to specify a config file use redis-server /path/to/redis.conf",
                " 1:M 06 Nov 2023 02:17:42.398 * monotonic clock: POSIX clock_gettime",
                " 1:M 06 Nov 2023 02:17:42.398 * Running mode=standalone, port=6379.",
                " 1:M 06 Nov 2023 02:17:42.398 * Server initialized",
                " 1:M 06 Nov 2023 02:17:42.398 * Ready to accept connections tcp",
                "Stop and remove container: 47db2a5b41114a4f88b8b6d9fe2ff871_redis_3d4e0c",
                "##[command]/usr/bin/docker rm --force 823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "823c60d6a5521780512a303b9d0743b93dad73e57c05597f63fb6b387b706de7",
                "Remove container network: github_network_6e48173f761f47618562ebec198cc1c0",
                "##[command]/usr/bin/docker network rm github_network_6e48173f761f47618562ebec198cc1c0",
                "github_network_6e48173f761f47618562ebec198cc1c0",
                "Cleaning up orphan processes",

        ],
        right: [
                "Requested labels: ubuntu-latest",
                "Job defined at: actionhero/node-resque/.github/workflows/test.yml@refs/pull/1009/merge",
                "Waiting for a runner to pick up this job...",
                "Job is waiting for a hosted runner to come online.",
                "Job is about to start running on the hosted runner: GitHub Actions 5 (hosted)",
                "Current runner version: '2.311.0'",
                "##[group]Operating System",
                "Ubuntu",
                "22.04.3",
                "LTS",
                "##[endgroup]",
                "##[group]Runner Image",
                "Image: ubuntu-22.04",
                "Version: 20231030.2.0",
                "Included Software: https://github.com/actions/runner-images/blob/ubuntu22/20231030.2/images/linux/Ubuntu2204-Readme.md",
                "Image Release: https://github.com/actions/runner-images/releases/tag/ubuntu22%2F20231030.2",
                "##[endgroup]",
                "##[group]Runner Image Provisioner",
                "2.0.312.1",
                "##[endgroup]",
                "##[group]GITHUB_TOKEN Permissions",
                "Actions: read",
                "Checks: read",
                "Contents: read",
                "Deployments: read",
                "Discussions: read",
                "Issues: read",
                "Metadata: read",
                "Packages: read",
                "Pages: read",
                "PullRequests: read",
                "RepositoryProjects: read",
                "SecurityEvents: read",
                "Statuses: read",
                "##[endgroup]",
                "Secret source: Dependabot",
                "Prepare workflow directory",
                "Prepare all required actions",
                "Getting action download info",
                "Download action repository 'actions/checkout@v4' (SHA:b4ffde65f46336ab88eb53be808477a3936bae11)",
                "Download action repository 'actions/setup-node@v4.0.0' (SHA:8f152de45cc393bb48ce5d89d36b731f54556e65)",
                "Download action repository 'actions/cache@v3.3.2' (SHA:704facf57e6136b1bc63b828d79edcd491f0ee84)",
                "Complete job name: build",
                "##[group]Run actions/checkout@v4",
                "with:",
                "  repository: actionhero/node-resque",
                "  token: ***",
                "  ssh-strict: true",
                "  persist-credentials: true",
                "  clean: true",
                "  sparse-checkout-cone-mode: true",
                "  fetch-depth: 1",
                "  fetch-tags: false",
                "  show-progress: true",
                "  lfs: false",
                "  submodules: false",
                "  set-safe-directory: true",
                "##[endgroup]",
                "Syncing repository: actionhero/node-resque",
                "##[group]Getting Git version info",
                "Working directory is '/home/runner/work/node-resque/node-resque'",
                "[command]/usr/bin/git version",
                "git version 2.42.0",
                "##[endgroup]",
                "Temporarily overriding HOME='/home/runner/work/_temp/04ef2596-4a1b-4cff-ab9e-5bc378754402' before making global git config changes",
                "Adding repository directory to the temporary git global config as a safe directory",
                "[command]/usr/bin/git config --global --add safe.directory /home/runner/work/node-resque/node-resque",
                "Deleting the contents of '/home/runner/work/node-resque/node-resque'",
                "##[group]Initializing the repository",
                "[command]/usr/bin/git init /home/runner/work/node-resque/node-resque",
                "hint: Using 'master' as the name for the initial branch. This default branch name",
                "hint: is subject to change. To configure the initial branch name to use in all",
                "hint: of your new repositories, which will suppress this warning, call:",
                "hint: ",
                "hint: 	git config --global init.defaultBranch <name>",
                "hint: ",
                "hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and",
                "hint: 'development'. The just-created branch can be renamed via this command:",
                "hint: ",
                "hint: 	git branch -m <name>",
                "Initialized empty Git repository in /home/runner/work/node-resque/node-resque/.git/",
                "[command]/usr/bin/git remote add origin https://github.com/actionhero/node-resque",
                "##[endgroup]",
                "##[group]Disabling automatic garbage collection",
                "[command]/usr/bin/git config --local gc.auto 0",
                "##[endgroup]",
                "##[group]Setting up auth",
                "[command]/usr/bin/git config --local --name-only --get-regexp core\\.sshCommand",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'core\\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :\"",
                "[command]/usr/bin/git config --local --name-only --get-regexp http\\.https\\:\\/\\/github\\.com\\/\\.extraheader",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'http\\.https\\:\\/\\/github\\.com\\/\\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :\"",
                "[command]/usr/bin/git config --local http.https://github.com/.extraheader AUTHORIZATION: basic ***",
                "##[endgroup]",
                "##[group]Fetching the repository",
                "[command]/usr/bin/git -c protocol.version=2 fetch --no-tags --prune --no-recurse-submodules --depth=1 origin +7e7e328e612cc951044df09408d7038926cdd218:refs/remotes/pull/1009/merge",
                "From https://github.com/actionhero/node-resque",
                " * [new ref]         7e7e328e612cc951044df09408d7038926cdd218 -> pull/1009/merge",
                "##[endgroup]",
                "##[group]Determining the checkout info",
                "##[endgroup]",
                "##[group]Checking out the ref",
                "[command]/usr/bin/git checkout --progress --force refs/remotes/pull/1009/merge",
                "Note: switching to 'refs/remotes/pull/1009/merge'.",
                "",
                "You are in 'detached HEAD' state. You can look around, make experimental",
                "changes and commit them, and you can discard any commits you make in this",
                "state without impacting any branches by switching back to a branch.",
                "",
                "If you want to create a new branch to retain commits you create, you may",
                "do so (now or later) by using -c with the switch command. Example:",
                "",
                "  git switch -c <new-branch-name>",
                "",
                "Or undo this operation with:",
                "",
                "  git switch -",
                "",
                "Turn off this advice by setting config variable advice.detachedHead to false",
                "",
                "HEAD is now at 7e7e328 Merge ed7c212c3a8a3d9f84a966075ffb131bb799d4f5 into 3e978f871060b2bea5b0cfe48b83fba94665022c",
                "##[endgroup]",
                "[command]/usr/bin/git log -1 --format='%H'",
                "'7e7e328e612cc951044df09408d7038926cdd218'",
                "##[group]Run actions/setup-node@v4.0.0",
                "with:",
                "  node-version: 20.x",
                "  always-auth: false",
                "  check-latest: false",
                "  token: ***",
                "##[endgroup]",
                "Found in cache @ /opt/hostedtoolcache/node/20.9.0/x64",
                "##[group]Environment details",
                "node: v20.9.0",
                "npm: 10.1.0",
                "yarn: 1.22.19",
                "##[endgroup]",
                "##[group]Run npm ci",
                "npm ci",
                "shell: /usr/bin/bash -e {0}",
                "##[endgroup]",
                "",
                "> node-resque@9.3.2 prepare",
                "> npm run build && npm run docs",
                "",
                "",
                "> node-resque@9.3.2 build",
                "> tsc --declaration",
                "",
                "",
                "> node-resque@9.3.2 docs",
                "> typedoc --out docs --theme default src/index.ts",
                "",
                "[warning] EventListeners, defined in ./src/core/connection.ts, is referenced by Connection.eventListeners but not included in the documentation.",
                "[warning] MultiWorkerOptions, defined in ./src/types/options.ts, is referenced by MultiWorker.options but not included in the documentation.",
                "[warning] QueueOptions, defined in ./src/types/options.ts, is referenced by Queue.options but not included in the documentation.",
                "[warning] SchedulerOptions, defined in ./src/types/options.ts, is referenced by Scheduler.options but not included in the documentation.",
                "[warning] WorkerOptions, defined in ./src/types/options.ts, is referenced by Worker.options but not included in the documentation.",
                "[warning] DelayQueueLock, defined in ./src/plugins/DelayQueueLock.ts, is referenced by Plugins.__type.DelayQueueLock but not included in the documentation.",
                "[warning] JobLock, defined in ./src/plugins/JobLock.ts, is referenced by Plugins.__type.JobLock but not included in the documentation.",
                "[warning] Noop, defined in ./src/plugins/Noop.ts, is referenced by Plugins.__type.Noop but not included in the documentation.",
                "[warning] QueueLock, defined in ./src/plugins/QueueLock.ts, is referenced by Plugins.__type.QueueLock but not included in the documentation.",
                "[warning] Retry, defined in ./src/plugins/Retry.ts, is referenced by Plugins.__type.Retry but not included in the documentation.",
                "[warning] SchedulerEvent, defined in ./src/core/scheduler.ts, is referenced by Scheduler.removeAllListeners.removeAllListeners.event but not included in the documentation.",
                "[info] Documentation generated at ./docs",
                "",
                "added 348 packages, and audited 349 packages in 21s",
                "",
                "34 packages are looking for funding",
                "  run `npm fund` for details",
                "",
                "found 0 vulnerabilities",
                "##[group]Run actions/cache@v3.3.2",
                "with:",
                "  path: node_modules",
                "dist",
                "",
                "  key: Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7",
                "  enableCrossOsArchive: false",
                "  fail-on-cache-miss: false",
                "  lookup-only: false",
                "##[endgroup]",
                "Cache not found for input keys: Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7",
                "Post job cleanup.",
                "[command]/usr/bin/tar --posix -cf cache.tzst --exclude cache.tzst -P -C /home/runner/work/node-resque/node-resque --files-from manifest.txt --use-compress-program zstdmt",
                "Cache Size: ~18 MB (18475011 B)",
                "Cache saved successfully",
                "Cache saved with key: Linux-cache-74250a9c76e61dd023f58025ef830ef1184ce9ca3bb380f996a22041b487a7d7",
                "Post job cleanup.",
                "Post job cleanup.",
                "[command]/usr/bin/git version",
                "git version 2.42.0",
                "Temporarily overriding HOME='/home/runner/work/_temp/9612c55b-7814-4a81-8311-4d34a9f28444' before making global git config changes",
                "Adding repository directory to the temporary git global config as a safe directory",
                "[command]/usr/bin/git config --global --add safe.directory /home/runner/work/node-resque/node-resque",
                "[command]/usr/bin/git config --local --name-only --get-regexp core\\.sshCommand",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'core\\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :\"",
                "[command]/usr/bin/git config --local --name-only --get-regexp http\\.https\\:\\/\\/github\\.com\\/\\.extraheader",
                "http.https://github.com/.extraheader",
                "[command]/usr/bin/git config --local --unset-all http.https://github.com/.extraheader",
                "[command]/usr/bin/git submodule foreach --recursive sh -c \"git config --local --name-only --get-regexp 'http\\.https\\:\\/\\/github\\.com\\/\\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :\"",
                "Cleaning up orphan processes",

        ],
    };
</script>
<script>
    function getColor(type) {
        switch (type) {
            case "updated": return "#FFF59D";
            case "added": return "#A5D6A7";
            case "deleted": return "#EF9A9A";
            case "moved_updated":
            case "moved_unchanged": return "#CE93D8";
            case "none": return "#CE93D8";
        }
    }

    let right_actions = [
            {type: "unchanged", left:1, right:1},
            {type: "added", left:-1, right:2},
            {type: "unchanged", left:3, right:3},
            {type: "unchanged", left:4, right:4},
            {type: "added", left:-1, right:5},
            {type: "unchanged", left:6, right:6},
            {type: "unchanged", left:7, right:7},
            {type: "unchanged", left:8, right:8},
            {type: "unchanged", left:9, right:9},
            {type: "unchanged", left:10, right:10},
            {type: "unchanged", left:11, right:11},
            {type: "unchanged", left:12, right:12},
            {type: "unchanged", left:13, right:13},
            {type: "unchanged", left:14, right:14},
            {type: "unchanged", left:15, right:15},
            {type: "unchanged", left:16, right:16},
            {type: "unchanged", left:17, right:17},
            {type: "unchanged", left:18, right:18},
            {type: "unchanged", left:19, right:19},
            {type: "unchanged", left:20, right:20},
            {type: "unchanged", left:21, right:21},
            {type: "unchanged", left:22, right:22},
            {type: "unchanged", left:23, right:23},
            {type: "unchanged", left:24, right:24},
            {type: "unchanged", left:25, right:25},
            {type: "unchanged", left:26, right:26},
            {type: "unchanged", left:27, right:27},
            {type: "unchanged", left:28, right:28},
            {type: "unchanged", left:29, right:29},
            {type: "unchanged", left:30, right:30},
            {type: "unchanged", left:31, right:31},
            {type: "unchanged", left:32, right:32},
            {type: "unchanged", left:33, right:33},
            {type: "unchanged", left:34, right:34},
            {type: "unchanged", left:35, right:35},
            {type: "unchanged", left:36, right:36},
            {type: "unchanged", left:37, right:37},
            {type: "unchanged", left:38, right:38},
            {type: "unchanged", left:39, right:39},
            {type: "unchanged", left:40, right:40},
            {type: "unchanged", left:41, right:41},
            {type: "unchanged", left:42, right:42},
            {type: "added", left:-1, right:43},
            {type: "unchanged", left:122, right:44},
            {type: "unchanged", left:123, right:45},
            {type: "unchanged", left:124, right:46},
            {type: "unchanged", left:125, right:47},
            {type: "unchanged", left:126, right:48},
            {type: "unchanged", left:127, right:49},
            {type: "unchanged", left:128, right:50},
            {type: "unchanged", left:129, right:51},
            {type: "unchanged", left:130, right:52},
            {type: "unchanged", left:131, right:53},
            {type: "unchanged", left:132, right:54},
            {type: "unchanged", left:133, right:55},
            {type: "unchanged", left:134, right:56},
            {type: "unchanged", left:135, right:57},
            {type: "unchanged", left:136, right:58},
            {type: "unchanged", left:137, right:59},
            {type: "unchanged", left:138, right:60},
            {type: "unchanged", left:139, right:61},
            {type: "unchanged", left:140, right:62},
            {type: "unchanged", left:141, right:63},
            {type: "unchanged", left:142, right:64},
            {type: "added", left:-1, right:65},
            {type: "unchanged", left:144, right:66},
            {type: "unchanged", left:145, right:67},
            {type: "unchanged", left:146, right:68},
            {type: "unchanged", left:147, right:69},
            {type: "unchanged", left:148, right:70},
            {type: "unchanged", left:149, right:71},
            {type: "unchanged", left:150, right:72},
            {type: "unchanged", left:151, right:73},
            {type: "unchanged", left:152, right:74},
            {type: "unchanged", left:153, right:75},
            {type: "unchanged", left:154, right:76},
            {type: "unchanged", left:155, right:77},
            {type: "unchanged", left:156, right:78},
            {type: "unchanged", left:157, right:79},
            {type: "unchanged", left:158, right:80},
            {type: "unchanged", left:159, right:81},
            {type: "unchanged", left:160, right:82},
            {type: "unchanged", left:161, right:83},
            {type: "unchanged", left:162, right:84},
            {type: "unchanged", left:163, right:85},
            {type: "unchanged", left:164, right:86},
            {type: "unchanged", left:165, right:87},
            {type: "unchanged", left:166, right:88},
            {type: "unchanged", left:167, right:89},
            {type: "unchanged", left:168, right:90},
            {type: "unchanged", left:169, right:91},
            {type: "unchanged", left:170, right:92},
            {type: "unchanged", left:171, right:93},
            {type: "unchanged", left:172, right:94},
            {type: "added", left:-1, right:95},
            {type: "unchanged", left:174, right:96},
            {type: "added", left:-1, right:97},
            {type: "unchanged", left:176, right:98},
            {type: "unchanged", left:177, right:99},
            {type: "unchanged", left:178, right:100},
            {type: "unchanged", left:179, right:101},
            {type: "added", left:-1, right:102},
            {type: "added", left:-1, right:103},
            {type: "added", left:-1, right:104},
            {type: "added", left:-1, right:105},
            {type: "added", left:-1, right:106},
            {type: "added", left:-1, right:107},
            {type: "added", left:-1, right:108},
            {type: "added", left:-1, right:109},
            {type: "added", left:-1, right:110},
            {type: "added", left:-1, right:111},
            {type: "added", left:-1, right:112},
            {type: "added", left:-1, right:113},
            {type: "added", left:-1, right:114},
            {type: "added", left:-1, right:115},
            {type: "added", left:-1, right:116},
            {type: "added", left:-1, right:117},
            {type: "added", left:-1, right:118},
            {type: "added", left:-1, right:119},
            {type: "added", left:-1, right:120},
            {type: "unchanged", left:183, right:121},
            {type: "unchanged", left:184, right:122},
            {type: "added", left:-1, right:123},
            {type: "unchanged", left:186, right:124},
            {type: "unchanged", left:187, right:125},
            {type: "unchanged", left:188, right:126},
            {type: "unchanged", left:189, right:127},
            {type: "unchanged", left:190, right:128},
            {type: "unchanged", left:191, right:129},
            {type: "unchanged", left:192, right:130},
            {type: "unchanged", left:193, right:131},
            {type: "unchanged", left:194, right:132},
            {type: "unchanged", left:195, right:133},
            {type: "unchanged", left:196, right:134},
            {type: "unchanged", left:197, right:135},
            {type: "added", left:-1, right:136},
            {type: "added", left:-1, right:137},
            {type: "added", left:-1, right:138},
            {type: "added", left:-1, right:139},
            {type: "unchanged", left:198, right:140},
            {type: "added", left:-1, right:141},
            {type: "added", left:-1, right:142},
            {type: "added", left:-1, right:143},
            {type: "added", left:-1, right:144},
            {type: "added", left:-1, right:145},
            {type: "added", left:-1, right:146},
            {type: "added", left:-1, right:147},
            {type: "added", left:-1, right:148},
            {type: "added", left:-1, right:149},
            {type: "added", left:-1, right:150},
            {type: "added", left:-1, right:151},
            {type: "added", left:-1, right:152},
            {type: "added", left:-1, right:153},
            {type: "added", left:-1, right:154},
            {type: "added", left:-1, right:155},
            {type: "added", left:-1, right:156},
            {type: "added", left:-1, right:157},
            {type: "added", left:-1, right:158},
            {type: "added", left:-1, right:159},
            {type: "added", left:-1, right:160},
            {type: "added", left:-1, right:161},
            {type: "added", left:-1, right:162},
            {type: "added", left:-1, right:163},
            {type: "added", left:-1, right:164},
            {type: "added", left:-1, right:165},
            {type: "added", left:-1, right:166},
            {type: "added", left:-1, right:167},
            {type: "added", left:-1, right:168},
            {type: "added", left:-1, right:169},
            {type: "added", left:-1, right:170},
            {type: "added", left:-1, right:171},
            {type: "unchanged", left:199, right:172},
            {type: "unchanged", left:200, right:173},
            {type: "unchanged", left:201, right:174},
            {type: "unchanged", left:202, right:175},
            {type: "unchanged", left:203, right:176},
            {type: "unchanged", left:204, right:177},
            {type: "unchanged", left:205, right:178},
            {type: "unchanged", left:206, right:179},
            {type: "unchanged", left:207, right:180},
            {type: "unchanged", left:208, right:181},
            {type: "added", left:-1, right:182},
            {type: "unchanged", left:247, right:183},
            {type: "added", left:-1, right:184},
            {type: "added", left:-1, right:185},
            {type: "added", left:-1, right:186},
            {type: "added", left:-1, right:187},
            {type: "unchanged", left:249, right:188},
            {type: "unchanged", left:250, right:189},
            {type: "unchanged", left:251, right:190},
            {type: "unchanged", left:252, right:191},
            {type: "added", left:-1, right:192},
            {type: "unchanged", left:254, right:193},
            {type: "unchanged", left:255, right:194},
            {type: "unchanged", left:256, right:195},
            {type: "unchanged", left:257, right:196},
            {type: "unchanged", left:258, right:197},
            {type: "unchanged", left:259, right:198},
            {type: "unchanged", left:260, right:199},
            {type: "unchanged", left:261, right:200},
            {type: "unchanged", left:278, right:201},
    ]

	// setup the folds between the "added" hunks
	let folds = [];
	for (let i = 1; i < right_actions.length; ++i) {
		if (right_actions[i-1].type != "added" && right_actions[i].type == "added") {
			let j = 1;
			while (i-j >= 0 && right_actions[i-j].type != "added") { ++j; }
			if (j > 6) {  // we keep a window of 3 lines arounds the "added" hunks
				folds.push({start: i-j+5, end: i-3});
			}
		}
	}
	// in case there is non "added" lines after the last added line
	let last_green = right_actions.length - 1;
	while (right_actions[last_green].type != "added") { --last_green; }
	if (last_green < right_actions.length - 4) {
		folds.push({start: last_green + 5, end: right_actions.length});
	}

    require.config({paths: {'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs'}});
    require(['vs/editor/editor.main'], function () {
        monaco.languages.register({
            id: "cidiff",
        })

        monaco.languages.registerFoldingRangeProvider("cidiff", {
            provideFoldingRanges: (model, context, token) => folds
        })
        let rightEditor = monaco.editor.create(document.getElementById('right'), {
            value: ciDiff.right.join('\n'),
            minimap: {enabled: false},
            readOnly: true,
            scrollBeyondLastLine: false,
            language: "cidiff",
            automaticLayout: true,
            //wordWrap: "on"
        });
        rightEditor.trigger('fold', 'editor.foldAll')

        function ranges(l, r, type) {
            let sl = ciDiff.left[l].split(/\s/);
            let sr = ciDiff.right[r].split(/\s/);
            let x = 0;
            let j = 0;
            let arr = [];
            for (let i = 0; i < sl.length; ++i) {
                if (sl[i] == "") {
                    ++x;
                    continue;
                }
                if (sr[j] == "") {
                    --i;
                    ++j;
                    continue;
                }
                if (sl[i] != sr[j]) {
                    arr.push({
                        range: new monaco.Range(r + 1, x + 1, r + 1, x + 1 + sl[i].length),
                        options: {isWholeLine: false, className: type, overviewRuler: {color: getColor(type)}}
                    });
                }
                x += sl[i].length + 1;
                ++j;
            }
            return arr;
        }

        function mapToDecorations(actions) {
            return actions.flatMap((a, i) => {
                let arr = []
                if (a.type == "unchanged") {
                    return arr;
                }
                if (a.type.includes("updated")) {
                    if (a.type == "moved_updated") {
                        arr.push({
                            range: new monaco.Range(i + 1, 1, i + 1, 1),
                            options: {isWholeLine: true, className: a.type, overviewRuler: {color: getColor(a.type)}}
                        });
                    }
                    //let tmp = ranges(i, left_actions[i].line-1, a.type);
                    //console.log(i, left_actions[i].line-1, tmp);
                    arr.push(...ranges(actions[i].left - 1, actions[i].right - 1, a.type));
                } else {
                    arr.push({
                        range: new monaco.Range(i + 1, 1, i + 1, 1),
                        options: {isWholeLine: true, className: a.type, overviewRuler: {color: getColor(a.type)}}
                    });
                }
                return arr;
            })
        }

        let rightDecorations = rightEditor.createDecorationsCollection(mapToDecorations(right_actions));

    });
</script>
</body>

</html>
